body {
    background-color: rgb(215, 202, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 4px 450px;
    background-color: rgb(200, 22, 22);
    border-radius: 20px;
    flex-direction: row;
    font-family: 'Clash Grotesk', sans-serif;
    
}

.areafoto {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.nome {
    font-family: 'Clash Grotesk', sans-serif;
}

#foto_eu {
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 20px;
    border-radius: 1rem;
    border: 2px solid rgb(200, 22, 22);
}

.texto {
    max-width: 500px;
    margin-right: 300px;
    margin-top: 35px;
    text-align: justify;
}

#clash, .nome {
    font-family: 'Clash Display', sans-serif;
    color: rgb(200, 22, 22);
}

#voltar {
    text-align: center;
    margin-top: 60px;
}

li, p {
    font-family: 'Author', sans-serif;
}
