@import url(https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap);
@import url(https://api.fontshare.com/v2/css?f[]=author@400&display=swap);

body {
    background-color: rgb(215, 202, 255);
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 4px 450px;
    background-color: #c81616;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-direction: row;
    font-family: 'Clash Dsiplay', sans-serif;
}

.hyper {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0.5rem;
}

.hyper::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient( 90deg, black);
    transition: width 0.5s ease;
}

.hyper:hover::after {
    width: 100%;
}

.areafoto {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.nome {
    font-family: 'Clash Grotesk', sans-serif;
}

.destaque {
    font-family: 'Clash Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    color: #c81616;
}

#foto_eu {
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 20px;
    border-radius: 1rem;
    border: 2px solid rgb(200, 22, 22);
}

.texto {
    max-width: 500px;
    margin-right: 300px;
    margin-top: 35px;
    text-align: justify;
}

#links-projetos {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#links-projetos:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

hr {
    border: none;                
    border-top: 2px solid #c81616; 
    margin: 40px auto;           
    width: 80%;                  
    margin-top: 60px;
    margin-bottom: 60px;
}

.projetos {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 50px;
}

.projeto-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.projeto-item .texto-projeto {
    max-width: 500px;
    text-align: justify;
}

.caixapreta, .techconnect-lara, .centelhas-lara {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #c81616;
}

#espaco {
    margin-bottom: 40px;
}

#clash, .nome {
    font-family: 'Clash Display', sans-serif;
    color: rgb(200, 22, 22);
}

li, p {
    font-family: 'Author', sans-serif;
}

footer {
    background-color: white;
    opacity: 50%;
    padding: 10px 10px;
    justify-content: center;
    position: static;
    text-align: center;
}

.rodape ul {
    list-style: none;
}

.rodape a {
    text-decoration: none;
    color: black;
}

.rodape a:hover {
    text-decoration: underline;
    color: rgb(43, 0, 255);
}
