:root {
  --text: #595554;
  --background: #f0e8e3;
  --primary: #9c6c44;
  --secondary: #ffaf75;
  --accent: #ffdfcc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px; /* espaçamento para caber o header fixo */
    line-height: 1.6;
    background: var(--background);
    color: var(--text);

}

header {
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--accent);
  border-bottom: 2px solid var(--secondary);
  z-index: 1000;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
    
}

.nav-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;


}

.logo{
    color: var(--text);
    font-size: 1.5rem
}

.nav-lista ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-lista ul li a {
    text-decoration: none;
    color: var(--text);
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

h1, h2, h3 {
    color: var(--primary);
    margin-bottom: 1rem;
}

h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hero {

  display: flex;
  justify-content: center;       
  align-items: center;          
  text-align: center;            
  min-height: 10vh;            
  padding: 10rem;
}

.hero-container {
  max-width: 800px;              /* Limita largura do texto */
}

/* Subtítulo */
.hero-subtitle {
  font-size: 1.2rem;
  color: #8a8a8a;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--primary);
}

.hero-title span {
  color: #c6a998;                /* Destaque colorido no sobrenome */
}

/* Descrição */
.hero-texto p {
  font-size: 1.1rem;
  color: #8a8a8a;
  line-height: 1.6;
  margin-bottom: 2rem;
}

