
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --text: #8a8a8a;
  --background: #eaeaea;
  --primary: #9c6c44;
  --secondary: #e1a072;
  --accent: #ffc5a3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px; /* espaçamento para caber o header fixo */
    line-height: 1.6;
    background: var(--background);
    color: var(--text);

}

header {
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--accent);
  border-bottom: 2px solid var(--secondary);
  z-index: 1000;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
    
}

.nav-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;


}

.logo{
    color: var(--text);
    font-size: 1.5rem
}

.nav-lista ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-lista ul li a {
    text-decoration: none;
    color: var(--text);
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

h1, h2, h3 {
    color: var(--primary);
    margin-bottom: 1rem;
}

h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hero {

  display: flex;
  justify-content: center;       
  align-items: center;          
  text-align: center;            
  min-height: 10vh;            
  padding: 10rem;
}

.hero-container {
  max-width: 800px;              /* Limita largura do texto */
}


.hero-subtitle {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--primary);
}

.hero-title span {
  color: #c6a998;                /* Destaque colorido no sobrenome */
}

/* Descrição */
.hero-texto p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/**************** sessão sobre mim*************************/

.sobre-mim  {
    text-align: center;
    padding: 5rem;
    margin: 10rem;
    background: var(--accent);
    border-radius: 50px; 
    border-top: 6px solid var(--primary);

}

.sobre-mim p{
    max-width: 800px;
    margin: auto;
    font-size: 1.1rem;

}

/*************** sessão das tecnologias e metodologias*****************/

.skills {
    padding: 5rem ;
    margin: 10rem;
    background-color:var(--accent);
    border-top: 6px solid var(--primary);
    border-radius: 50px;
    text-align: center;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*responsividade */
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background: var(--background);
    border: 2px solid var(--secondary);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border-top: 6px solid var(--primary);
    transition: transform 0.3s ease, box-shadow 0.2 eases; /* Utilizando animação  */

}

.card:hover {
    transform: translateY(-8px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}

/********* sessão experiencia e projetos ***********/

.projetos {
    padding: 5rem ;
    margin: 10rem;
    background-color: var(--accent);
    border-top: 6px solid var(--primary);
    border-radius: 50px;
    text-align: center;

}

.cards-projetos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; 
    margin-top: 3rem;
}

.card-projeto {
    background: var(--background);
    border: 2px solid var(--secondary);
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border-top: 6px solid var(--primary);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.2 ease;
}

.card-projeto:hover {
    transform: translateY(-8px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 12px;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    cursor: pointer;  
    transition: transform 0.3s ease;
}

.card-img img:hover {
    transform: scale(1.05); /* zoom suave no hover */
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
    flex-grow: 1; /* Faz o conteúdo crescer para preencher o espaço disponível */
}

.card-content p {
    text-align: justify; 
    font-size: 0.95rem;
    
}

.categoria {
    font-size: 0.75rem;
    color: var(--secondary);
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */ 
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.tags span {
    background: var(--secondary);
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 0.75rem;
}

.link-projeto {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    margin-top: auto; /* Empurra o link para o final do card */
    align-self: flex-start; /* Alinha o link à esquerda */
}

/********* Responsividade ***********/

@media (max-width: 768px)  {

    /* Deixa as seções se comportar melhor em telas menores */
    .skills, .sobre-mim, .projetos {
        margin: 3rem 1rem;
        padding: 2rem;
    }



    .hero {
        padding: 5rem 1rem;
    }

    .cards-projetos{ 
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */

    }

}

